[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NeuDist"]
	path = NeuDist
	url = https://github.com/cran/NeuDist
[submodule "reliaR"]
	path = reliaR
	url = https://github.com/cran/reliaR
